:root {
  --radius: 0.3rem;
  --background: hsl(240, 10%, 4%);
  --foreground: oklch(0.985 0 0);
  --card: hsl(240, 9%, 9%);
  --card-foreground: oklch(0.985 0 0);
  --popover: hsl(240, 10%, 4%);
  --popover-foreground: oklch(0.985 0 0);
  --primary: hsl(347, 77%, 50%);
  --primary-foreground: hsl(356, 100%, 97%);
  --secondary: hsl(0, 0%, 15%);
  --secondary-foreground: hsl(0, 0%, 95%);
  --muted: hsl(240, 9%, 9%);
  --muted-foreground: hsl(240, 5%, 65%);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: red;
  --border: hsl(240, 4%, 16%);
  --input: hsl(240, 4%, 16%);
  --ring: hsl(347, 77%, 50%);
  --chart-1: hsl(347, 77%, 50%);
  --chart-2: hsl(347, 77%, 50%);
  --chart-3: hsl(347, 77%, 50%);
  --chart-4: hsl(347, 77%, 50%);
  --chart-5: hsl(347, 77%, 50%);
  --sidebar: hsl(347, 77%, 50%);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}